/*Source code by Solomon Astley
CSS styling for the home page of postagerebate site*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #0193B7;  /*Sets the text hover color on navbar*/
	font-family: 'Droid Serif', serif;
	font-size: 16px;
}

.navbar-default {
    background-color: #152D51;
    border-color: #152D51;
    border-radius: 0px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #152D51; /*Change rollover cell color here*/
 }


.navbar-default .navbar-nav > li > a {
 	color: #FFDDA2; /*Change active text color here*/
 	font-family: 'Droid Serif', serif;
 	font-size: 16px;
 }

.navbar-default .navbar-header > a,
.navbar-default .navbar-header > a:hover {
	color: #FFDDA2;
	/*font-family: 'Bree Serif', serif;*/
	font-family: 'Crete Round', serif;
	font-size: 30px;
}

#the-header {
	text-align: center;
	color: #152D51;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}

.container-fluid .paragraph-text p {
	font-size: 20px;
	color: #152D51;
	font-family: 'Droid Serif', serif;
	text-align: center;
}

#orange-text {
	color: #AA8039;
}